* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 218, 219);
}

.chessboard {
    display: inline-block;
    text-align: center;
}

.row {
    display: flex;
}

.square1,
.square2 {
    height: 50px;
    width: 50px;
}

.square1 {
    background-color: #ffce9e;
}

.square2 {
    background-color: #d18b47;
}