* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  body{
    background-color: #f1f5f9;
    color: #212b36;
    min-height: 100vh;
  }

  .wrapper{
    margin: auto;
    background-color: #ffffff;
    width: 400px;
    height: 70vh;
    border-radius: 3%;
    margin-top: 80px;
    box-shadow: rgba(139, 140, 132, 0.5)  0px 3px 8px;
}
.form{
    padding: 25px 20px;
}

h2{
  color: #624bff;
  margin-bottom: 15px;
}
p{
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.info{
  margin-bottom: 10px !important;
}
.input-box input{
  width: 100%;
  border: 1px solid rgb(130, 128, 128);
  border-radius: 3px;
  line-height: 2.2rem;
  outline: none;
  margin: 15px 0px ;
  font-size: 0.9rem;
  padding: 5px 10px;
}

.remember-forgot{
  margin-top: 10px;
  font-size: 1rem;
}

button:hover{
  background-color: aqua;
  color:black;
  cursor: pointer;
}
.btn {
  height: 40px;
  width: 360px;
  background-color:#624bff ;
  color:white;
  margin-top: 20px;
  border-radius: 5px;
  
  
}
.register-link{
  display: inline-block;
  margin-top: 20px;
}

.one{
  font-size: 16px;
  color:#624bff ;
  text-decoration: none;

}
.two {
  font-size: 16px;
  color: black;
  padding-left: 39px;  text-decoration: none;

}




