* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(font/VNM-Sans-Display-Regular.otf);
    font-family: VNM-Sans-Display-Regular;
}

body {
    background-color: #0313b0;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-family: VNM-Sans-Display-Regular;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}

.name {
    font-size: 230px;
    margin-top: 20px;
    font-weight: normal;
}

p {
    display: inline-block;
    font-size: 50px;
    font-family: VNM-Sans-Display-Regular;
    /* margin-left: 350px; */
    text-align: center;
    margin-top: -33px;
    margin-bottom: -15px;
}

.age {
    margin-left: 592px;
}

.icon>i {
    padding: 0px 20px;
    font-size: 40px;
}