*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    /* grid-template-columns: 100px 200px 150px;
    grid-template-rows: 100px 200px 100px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns:repeat(3,1fr); */
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 10px;
    /* column-gap: 50px;
    row-gap: 20px;
 */
}
.grid-item{
    /* width: 100px;
    height: 100px; */
    background-color: blueviolet;
    color: bisque;
    
}


