*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* .web{
    margin: 80px 80px;
} */
.header{
    width: 100%;
    border:1px solid #ccc;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    /* padding: 0 30px; */
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header-left>i{
    font-size: 1.5rem;
    padding: 10px 20px;
}
li{
    list-style: none;
    cursor: pointer;
    
}
a{
    text-decoration: none;
    
}
.link_a{
    color: aliceblue;
}
.links{
    display: flex;
    justify-content: space-around;
}
.links>li{   
    padding: 20px;
}
.header-bottom{
    display: flex;
    padding-top: 10px;
}
.bottom-left{
    display: flex;
    width: 25%;
}
.bottom-left.img {
    width: 280px;
    height: 90px;
    /* padding: 10px; */
    margin-top: 15px;
}
.bottom-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.search{
    display: flex;
    width: 100%;
    position: relative;
}
.search>i {
    display: flex;
    width: 85px;
    height: 52px;
    background-color: #ebca22;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: -3%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
}
.search>input{
    width: 90%;
    line-height: 2.5rem;
    border-radius: 25px;
    border: 2px solid #ebca22 ;
}
.phone {
    margin: 0 17px;
}
.bottom-right{
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.bottom-right>i {
    font-size: 3rem;
    padding: 12px;
}
.zero {
    width: 30px;
    background-color: #f5c615;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 20px;
    margin-right: 80px;
}
.bag {
    margin: 5px 11px;
}
.drop_menu {
    width: 300px;
    background: #d2cfcf;
    position: relative;
}
.sub-menu {
    background: white;
    display: none;
    position: absolute;
    margin-left: 100%;
    margin-top: -13%;
    width: 60%;
    z-index: 1000;
}
.drop_menu li {
    position: relative;
    list-style: none;
}
.drop_menu li:hover {
    background-color: #ddd;
}
.drop_menu a {
    display: block;
    padding: 10px 10px;
    color: black;
    border-bottom: 1px solid #3c3b3b;
    text-decoration: none;
}
.drop_menu a:hover {
    color: #ffff00;
}
.drop_menu .sub-menu a {
    padding-left: 28px;
    color: black;
}
.icon {
    color: #d00404;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}

